

<div>
  <% @locations.each do |i| %>
  <% guides_loc = i.users.select { |isguide| isguide } %>
  <% if guides_loc.any? == true %>
  <li class="mapitem" data-guideexist='true' data-city='<%= i.city %>' data-lat=<%= i.latitude %> data-lon=<%= i.longitude %> ></li>
  <% else %>
  <li class="mapitem" data-guideexist='false' data-city='<%= i.city %>' data-lat=<%= i.latitude %> data-lon=<%= i.longitude %> ></li>
  <% end %>
  <% end %>
</div>

<div>

  <% @g.each do |l| %>
  <li class="guidelocations" data-id='<%= l.id %>' data-firstname='<%= l.firstname %>' data-avatar='<%= l.avatar.url %>' data-location='<%= l.location.city %>'><%= l.firstname %><%= l.location.city %></li>
  <% end %>

</div>


<div class="choosemap">

    <h1>Where are you going today?</h1>

  <div id="map"></div>

</div>

<div>
  <dialog class="loginbox">
    <form id="login" action="/profile" method="post">
      <h2>Tour Guide Login</h2>
      <table>
        <tr>
          <td>Username:</td>
          <td><input type="text" name="username" /></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="text" name="password" /></td>
        </tr>
      </table>
      <input type="submit" value="Submit" /></p>
    </form>
  </dialog>
</div>


<div class="guidelist">

</div>