
<dialog class="login_box">
  <form id="create" action="/guides" method="post">
    <h2>Create Tour Guide</h2>
    <table>
      <tr>
        <td>Name:</td>
        <td><input type="text" name="name" /></td>
      </tr>
      <tr>
        <td>Location:</td>
        <td><input type="text" name="location" /></td>
      </tr>
      <tr>
        <td>Languages:</td>
        <td><input type="text" name="language" /></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td><input type="text" name="description" /></td>
      </tr>
      <tr>
        <td>Upload a photo:</td>
        <td><input type="text" name="photo" />
        </td>
      </tr>
    </table>
    <input type="submit" value="Submit" /></p>
  </form>
</dialog>