
<div>
  <li class="mapitem" data-id='<%= @profile.location.id %>' data-city='<%= @profile.location.city %>' data-lat=<%= @profile.location.latitude %> data-lon=<%= @profile.location.longitude %> ></li>
</div>


  <div class="profile_details">
    <div class="profile_img">

      <div><%= image_tag @profile.avatar.url %></div>
      <div><button class="message">Message Guide</button></div>
      <div class="rating_avg"><label>Rating</label>
      <% if (@post.length > 0) %>
        <% avg_rating = '%.1f' % ((@post.sum(:rating).to_f/@post.length)) %>
        <h2><%= avg_rating %></h2>
        <div class="rating_box_avg" data-rating="<%= avg_rating %>"></div>
      <% end %>

      </div>

    </div>
    <div class="profile_body">
      <div class="profile_row">
      <h2><%= @profile.firstname %></h2>
      </div>

      <div class="profile_row">
        <label>Languages</label>
        <div class="field">
        <% @profile.languages.each do |lang| %>
        <%= lang.language + ", " %>
        <% end %>
        </div>
      </div>
      <div class="profile_row">
        <label>Description</label>
        <div class="field"><%= @profile.description %></div>
      </div>
      <div class="profile_row">
        <div class="profile_map">
          <label>Location</label>
          <div class="field"><%= @profile.location.city %></div>
          <div id="map"></div>
      </div>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>

    <div class="comment_box">
      <label>Post new comment:</label>

      <form id="create" action="/guides/comment/<%= @profile.id %>" method="post">

        <input type="text" placeholder="Title" name="title" id="user_id"><br>
        Rating:
        <input class="rating_value" type="hidden" name="rating" value="0">
        <div class="rating_box_comment"></div>

        <textarea placeholder="Comment" name="content"></textarea><br>
        <input type="submit" value="Leave comment">
      </form>
    </div>


  <% end %>




    <div class="messages">

      <label>Comments</label> <a onclick='openComment()'>Post new comment</a>
      <% if @post.length > 0 %>
        <% @post.each do |post| %>
          <% if User.find_by_id(post.commenter_id).nil? %>
            <% commenter_photo = "" %>
            <% commenter_name = "Anonymous" %>
          <% else %>
            <% commenter = User.find(post.commenter_id) %>
            <% commenter_photo = commenter.avatar.url %>
            <% commenter_name = commenter.firstname %>
          <% end %>
          <div class="message" id="message_<%= post.id %>">
            <div class="photo"><%= commenter_name %><br>
            <%= image_tag commenter_photo %>

            </div>
            <div class="body">
              <div class="head">
                <div class="rating_box p<%= post.id %>" data-postid="<%= post.id %>" data-rating="<%= post.rating %>"></div>
                <div class="rating_box_title"><%= post.title %></div>
              </div>
              <div class="rating_content"><%= post.content %></div>
            </div>
          </div>
          <% end %>
      <% else %>
         <div class="message"><span>No messages</span></div>

      <% end %>
    </div>



