
<div>
  <li class="mapitem" data-id='<%= @profile.location.id %>' data-city='<%= @profile.location.city %>' data-lat=<%= @profile.location.latitude %> data-lon=<%= @profile.location.longitude %> ></li>
</div>


  <div class="profile_details">
    <div class="profile_img">

      <div><%= image_tag @profile.avatar.url %></div>
      <div><button class="message">Message Guide</button></div>
      <div>Rating:
      <% if (@post.length > 0) %>
      <%= '%.1f' % ((@post.sum(:rating).to_f/@post.length)) %>
      <% end %>

      </div>

    </div>
    <div class="profile_body">
      <div class="profile_row">
      <h2><%= @profile.firstname %></h2>
      </div>

      <div class="profile_row">
        <label>Languages</label>
        <div class="field">
        <% @profile.languages.each do |lang| %>
        <%= lang.language + ", " %>
        <% end %>
        </div>
      </div>
      <div class="profile_row">
        <label>Description</label>
        <div class="field"><%= @profile.description %></div>
      </div>
      <div class="profile_row">
        <div class="profile_map">
          <label>Location</label>
          <div class="field"><%= @profile.location.city %></div>
          <div id="map"></div>
      </div>
      </div>
    </div>
  </div>

  <% if @post.length > 0 %>
    <div class="messages">

      <label>Comments:</label>

        <% @post.each do |post| %>
          <% if User.find_by_id(post.commenter_id).nil? %>
            <% commenter_photo = "" %>
            <% commenter_name = "Anonymous" %>
          <% else %>
            <% commenter = User.find(post.commenter_id) %>
            <% commenter_photo = commenter.avatar.url %>
            <% commenter_name = commenter.firstname %>
          <% end %>


            <div class="message" id="message_<%= post.id %>">
              <div class="photo"><%= image_tag commenter_photo %> </div>
              <div class="body">
                <header>
                  <span class="name"><%= commenter_name %></span> gave <%= @profile.firstname %> a rating of <span class="rating"><%= post.rating %></span>
                </header>

                <span class="title"><%= post.title %></span> - <span class="content"><%= post.content %>

              </div>
            </div>

        <% end %>

   </div>
  <% end %>

  <% if user_signed_in? %>

    <div class="comment_box">
    <label>Post new comment:</label>

      <form id="create" action="/guides/comment/<%= @profile.id %>" method="post">

        <input type="text" placeholder="Title" name="title" id="user_id"><br>
        Rating:
        <input class="rating_value" type="hidden" name="rating" value="0">
        <div class="rating_box">
          <div class="star s1" id="1"></div>
          <div class="star s2" id="2"></div>
          <div class="star s3" id="3"></div>
          <div class="star s4" id="4"></div>
          <div class="star s5" id="5"></div>
        </div>

        <textarea placeholder="Comment" name="content"></textarea><br>
        <input type="submit" value="Leave comment">
      </form>
    </div>


<% end %>


